
/* Default Theme Colors */
:root {
    --color: #303030;
    --emphasis-color: #000000;
  
    --background-color: gainsboro;
    --area-background: rgba(196,196,190,0.9);
    --popup-background: #f1f1f1;
    --header-background: rgba(187,187,176,0.9);
    --past-background: rgba(196,196,190,0.9);
    --highlight-background: #fdc19f;
    --selected-background: #ffa369;
    --gradient-right: rgba(187,187,176,0.9);
    --scrollbar-background: #7a7676;
    --good-color: darkgreen;
    --bad-color: darkred;
    --pending-color: darkorange;
}

body, div {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    padding: 0;
    font-family: 'Lucida Grande', Arial, Verdana, sans-serif;
    font-size: 12px;
    color: var(--color);
    background-color: var(--background-color);
    margin: 0;
    transition: margin 500ms;
}

footer {
    margin-top: 2rem;
    text-align: center;

}

/*Styling the scrollbars*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--popup-background) var(--scrollbar-background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--popup-background);
    border-radius: 6px;
    border: 1px solid var(--scrollbar-background);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-background);
}

*::-webkit-scrollbar-corner {
    background: var(--scrollbar-background);
}

*::-webkit-resizer {
    width: 12px;
    height: 12px;
}

/* inputs */
input, select, textarea {
    background-color: var(--header-background);
    /*color: var(--emphasis-color)!important;*/
    color: var(--emphasis-color);
    /*border: solid 1px #686868;*/
    border: none; /* experimental */
    padding: 4px;
}
input:disabled, select:disabled, textarea:disabled {
    background-color: transparent;
}

/* Default icon size */
i {
    font-size: 2em;
}
i.smaller_icon {
    font-size: 18px;
}

iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.home_right_col_content {
    width: 100%;
    height: 100%;
}

a.bluelink {
    color: #2B6FB6;
    cursor: pointer;
}

a.buttonBar {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-height: 2em;
    padding: 4px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    /*background-color: transparent;*/
    background-color: var(--gradient-right);
    color: #5599cc;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
a.buttonBar:hover, button.buttonBar:hover, a.bluelink:hover {
    background-color: var(--highlight-background);
    color: var(--emphasis-color);
    text-decoration: none !important;
}
.buttonBar {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: none;
    border-radius: 4px;
    /*background-color: transparent;*/
    background-color: var(--gradient-right);
    color: var(--color);
    cursor: pointer;
    box-sizing: content-box;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
button.buttonBar:disabled {
    color: grey;
}
.buttonBar:active {
    position: relative;
    top: 1px;
    left: 1px;
}
#btnDelete, .btnDelete {
    width: 80px;
    color: var(--bad-color);
}
.doOpenAddMode {
    margin-bottom: 12px;
    color: var(--good-color);
}
input.buttonBar:disabled {
    opacity:0.5;
}

input.buttonBar:hover {
    background-color: var(--highlight-background);
    color: var(--emphasis-color);
}

#adminMenu {
    font-size: 16px;
    /* width: 260px; */
    /*height: 85%;*/
    padding-top: 1em;
    background-color: var(--area-background);
    border-radius: 6px;
}
#adminMenu ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    box-sizing: border-box!important;
}
#adminMenu li a {
    color: var(--emphasis-color);
    display: block;
    font-weight: normal;
    line-height: 32px;
    text-align: left;
    text-decoration: none;
    padding: 6px;
    margin: 6px;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
#adminMenu li a:hover {
    background-color: var(--highlight-background);
}

#adminMenu li a.menuSelected {
    background-color: var(--selected-background);
    font-weight: bold;
}
/* Widgets */
#widgetsDiv {
    display: flex;
    /* grid-template: minmax(0, 1fr) / repeat(3, minmax(0, 1fr)); */
    /* grid-template: 1fr / repeat(3, minmax(0, 1fr));
    grid-auto-flow: row; */
    flex-flow: row wrap;
    gap: 16px;
    background: none;
    padding: 0;
    height: 715px;
    overflow-y: auto;
}

.card {
    border: none;
    /*margin-bottom: 24px;*/
    background-color: inherit;
    /* padding: 0 16px 16px 0; */
    transition: width 200ms linear;
    width: 100%;
    flex-basis: 400px;
}

.card-body {
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px;
    background-color: var(--area-background);
    overflow: hidden;
}
.card-body h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 1rem 0;
}
.card-body h3 {
    font-size: 20px;
    font-weight: normal;
    color: #6c757d;
    margin-top: 0;
}
.chart_mod {
    padding: 4px;
    /*text-align: center;*/
}

.widgetSettings {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    line-height: 28px;
    background-color: var(--popup-background);
    width: 180px;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #4a4a4a;
    cursor: default;
}
.widgetSettingsArea {
    background-color: var(--area-background);
    padding: 4px;
}
.widgetSettingsApplyDiv {
    text-align: right;
}
.widgetSettingsApply {
    width: 80px;
}
button.refreshWidget {
    width: 80px;
}
.card header {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}
.widgetBody {
    cursor: default;
}
.widgetSettingsBtn {
    margin-left: 1em;
    color: inherit!important;
}
.widgetSettingsBtn>svg:hover {
    background-color: var(--highlight-background);
}
.removeWidget {
    width: 122px;
}
.widgetColumns {
    font-size: 14px;
    width: 40px;
}
.calendars th {
    padding: 4px;
}
.calDate {
    padding: 4px;
}
.calendarButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
}
.calendarWeek table {
    width: 100%;
    table-layout: fixed;
    min-height: 100px;
}
.calendarWeek table td {
    max-width: 14%;
    vertical-align: top;
}
.calendarMonth table {
    width: 100%;
    table-layout: fixed;
}
.calendarMonth table td {
    max-width: 14%;
    height: 70px;
    vertical-align: top;
}
.calendarMonth .calendarMonthTitle {
    font-size: large;
    font-weight: bold;
}
.calendarYear {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1em;
}
.calendarYear table {
    width: 200px;
    table-layout: fixed;
}
.calendarYear table td {
    max-width: 14%;
    height: 24px;
}
.calendars td:hover {
    background-color: var(--highlight-background)!important;
}
.calBookings {
    overflow-y: auto;
}
#calendarTable .calBookings {
    max-height: 50px;
}
.calBookings div {
    padding: 2px;
}
#calendarTable td, #calendarWeek td {
    background-color: var(--background-color);
}

#searchBookingsResultsContents {
    overflow: auto;
    width: 100%;
}

/* Report Table Styles */
.report_page_title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}
#breadcrumbs {
    white-space: nowrap;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
p.breadcrumbs {
    background-color: var(--area-background);
    padding: 4px;
    border-radius: 6px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.report_table{
    /*border-left: solid 1px lightgrey;*/
    border-collapse: collapse;
    line-height: 1.8;
    font-size: 12px;
    border-style: none;
    background-color: var(--area-background);
}

/* added 5/8/2019 for striped tables */
.report_table tr:nth-child(even) {
    background-color: var(--popup-background);
}

.report_hdr_row{
    /*background-color: #1f497d!important;*/
    background-color: var(--header-background) !important;
    color: var(--emphasis-color);
}

.report_cell{
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: lightgrey;
    padding: 1px 5px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.report_subtotal {
    border-width: 0 1px 2px 0;
    border-style: solid;
    border-color: darkgrey;
    background-color: #dfdfdf;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.report_expander_row {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: darkgrey;
    background-color: #dfdfdf!important;
}

.report_sectionHeading {
    background-color: lightgrey;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: bold;
}
.report_fieldset{
    box-sizing: border-box;
    margin: 0 0 1em 0;
    width: 100%;
    padding: 2em;
}

.report_scrolling_table {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    margin: 0 0 4px 0;
    /*border: 2px groove #c0c0c0;*/
    border-style: none;
    background-color: var(--area-background);
}

.report_pagination {
    /*width: inherit;*/
    margin: 0 0 4px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.pagination_top, .pagination_bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    gap: 4px;
}

.report_textarea {
    width: 70%;
    height: 44px;
    font-size: 12px;
    color: var(--color);
    background-color: var(--background-color);
}

/*ReportTable List Format for Search Results*/
.arSearchResults {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    margin: 0 0 4px 0;
    min-height: 24px;
}
.rt_list_td {
    padding: 12px;
}
.rt_list_td img {
    width: 100%;
    max-width: 96px;
}
.rt_list_title {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 12px;
}
.rt_list_contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 12px;
}
.rt_list_contents .form_cell {
    font-size: larger;
}
.rt_list_contents .form_label {
    width: 100px;
}
.rt_list_contents .form_rows {
    padding: 0;
}
.rt_list_left {
    flex-basis: 33%;
    min-width: 250px;
}
.rt_list_center {
    flex-basis: 33%;
    min-width: 250px;
}
.rt_list_right {
    flex-basis: 33%;
    min-width: 250px;
}
.rt_list_footer {
    margin-bottom: 12px;
}

#sortDisplay > div {
    line-height: 24px;
}
.sortDisplayFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.sortDisplayFlex div {
    display: inline;
    font-weight: bold;
    line-height: 20px;
}

.rtSortSelect {
    display: none;
    position: relative;
    width: auto;
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--popup-background);
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bfbfbf;
    line-height: initial;
    z-index: 1;
}
.rtSortRows {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 6px;
    gap: 1em;
}
.rtSortRows .ar_search_label {
    width: 70px;
}
.rtSortSelectButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.outputLimitSelector {
    display:inline-block;
}

.outputRecordsFound {
    height: 20px;
    line-height: 20px;
}

.report_table_overlay {
    opacity: .88;
    position: absolute;
    background: url('/dwr/images/spinnerSmall.gif' ) no-repeat 50% 20%;
    background-size: 24px 24px;
    z-index: 6;
}
.rt_list_td .form_cell {
    padding-right: 12px;
}
.arSearchResults .report_table_overlay {
    background-position: 50% 10%;
}
#SelectAllCB {
    color: white;
    vertical-align: baseline;
}
#SelectAllCB input#cbheading {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 4px;
    vertical-align: bottom;
    position: relative;
    top: -6px;
}
.editColumn, .sortArrows {
    margin-left: 5px;
}

#openExportPrintOptions {
    margin-top: 1rem;
}

/* RecordManage styles */
.form_layout {
    width: 100%;
}
.form_layout input[type=checkbox] {
    zoom: 1.5;
    margin-bottom: 0;
    vertical-align: bottom;
}
#myEditForm .form_layout .form_rows {
    border-bottom: solid 1px #dedede;
    padding: 10px 0;
    margin: 0;
    align-items: flex-start;
}
#myEditForm .form_layout .itemComment {
    max-width: 700px;
    display: block;
    width: auto;
    color: #888;
    font-size: 10px;
    line-height: 14px;
}
#myEditForm .form_buttons {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 6px;
}

.editModeColumnsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.editModeLeftCol {
    width: 48%;
    margin-right: 12px;
}
.editModeRightCol {
    width: 48%;
}

.form_rows {
    padding: 2px 0 3px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: baseline;
    width: 100%;
    margin-bottom: 8px;
}

.form_label {
    display: inline-block;
    width : 185px;
    vertical-align: top;
    font-weight: bold;
}

.form_label2 {
    vertical-align: top;
    font-weight: bold;
}
.form_cell {
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
}

.form_error{
    display: inline-block;
    vertical-align: top;
    color: var(--bad-color);
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.errorMsg {
    color: var(--bad-color);
}
.multiCheckboxes {
    width: 100%;
    max-width: 800px;
    margin-bottom: 8px;
}
.multiCheckboxGroup {
    padding-left: 32px;
    margin-bottom: 8px;
}
.multiCheckboxRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.multiCheckboxCell {
    padding: 2px 0;
}
.multiCheckboxCell input {
    padding-right: 1em;
}
.multiSelectRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.multiselect {
    width: 200px;
    margin-left: 3px;
    margin-top: 0;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes {
    display: none;
    border: 1px #dadada solid;
}
#checkboxes label {
    display: block;
}
#checkboxes label:hover {
    background-color: #1e90ff;
}
.canDropHere {
    background-color: lightblue !important;
}
.canDropHere * {
    pointer-events: none;
}

.multiSelectList {
    border: 1px solid rgb(169, 169, 169);
    background-color: var(--background-color);
    margin-bottom: 4px;
    margin-right: 12px;
    width: 50%;
    column-count: 2;
}
.multiSelectList a.imgButton {
    border: none;
    margin-left: 0;
}
.multiSelect_items {
    margin-bottom: 8px;
    line-height: 14px;
}

.active {
    display: block !important;
}

.profileinfo {
    width: 100%;
    /*min-width: 788px;*/
    background-color:var(--area-background);
    border-radius: 6px;
    box-sizing: border-box;
    /*padding-left: 5px;*/
    margin-bottom: 1em;
}
.profileinfo_padding {
    padding: 2em;
}
.profileHeadingLine {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.profileHeadingLine h2 {
    margin-top: 0;
}
.profileHeadingLineButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: flex-start;
    gap: 12px;
}
.profile-flex-cols {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: normal;
}

.profile-left-col {
    flex-basis: 45%;
    flex-grow: 1;
    min-width: 200px;
    margin-right: 16px;
    overflow: hidden;
}

.profile-right-col {
    flex-basis: 45%;
    flex-grow: 1;
    min-width: 200px;
    overflow: hidden;
}
.profile_text_box {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    padding: 1em;
}
.rmFieldGroup {
    /*border-top: solid 1px grey;*/
    /*padding-top: 12px;*/
    border: none;
    border-radius: 6px;
    background-color: var(--background-color);
    padding: 8px;
    margin-bottom: 8px;
}
.rmFieldGroupInner {
    padding-left: 16px;
    padding-top: 12px;
}
.rmColumnHasButton {
    display: flex;
    flex-flow: row wrap;
}
.rmProfileButtons {
    margin: 0 0 18px 0;
}
.rmProfileButtons hr {
    margin-bottom: 18px;
}
.rmEditModeButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
}
.rmReadModeButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}
.imagePreview {
    padding-top: 5px;
}
#countrySelect, #stateZone {
    height: 22px;
}
fieldset {
    border-style: none;
    background-color: var(--area-background);
    border-radius: 6px;
    padding: 24px 1em 1em 1em !important;
}
legend {
    display: block;
    position: relative;
    top: 16px;
    left: 0px;
}
/* AdminReports Styles */
.ar-searchContents {
    padding: 9px;
}
.ar_search_fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
#ar-searchSettings {
    float: right;
    margin-right: 4px;
}
.ar_search_items {
    /*margin: 0 1rem 4px 0;*/
    line-height: 19px;
    min-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
    margin: 4px 1rem 8px 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}
.ar_search_label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 1em;
}
.ar_search_inputs {
    margin-right: 1em;
    display: inline-flex;
    flex-flow: column nowrap;
}
.ar_search_items input[type=text], .ar_search_items input[type=date]{
    box-sizing: border-box;
    width: 122px;
    height: 22px;
    margin: 0;
}
.ar_search_yn_select {
    box-sizing: border-box;
    margin: 0;
    height: 22px;
}
.ar_search_select {
    box-sizing: border-box;
    height: 22px;
    max-width: 148px;
}
.ar_search_buttons {
    margin-top: 1em;
    margin-left: 3px;
}
.ar-searchContents table td {
    padding: 2px;
}
#openSearchButton {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px;
}
.selectCriteria {
    /*padding-left: 16px;*/
}
#atLookupComment {
    font-size: x-small;
}
#settingsButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    padding-top: 8px;
}
#searchCheckboxesComment {
    font-size: 10px;
    margin-bottom: 8px;
}
#searchCheckboxesList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
#table_modeSettingsButtons {
    text-align: center;
}
#table_modeSettingsComment {
    font-size: 10px;
    margin: 8px 0;
}
#settingsSubtotalBySort {
    margin-top: 12px;
}

.good_color {
    color: var(--good-color);
}

.bad_color {
    color: var(--bad-color);
}

.pending_color {
    color: var(--pending-color);
}

.itemDisabled {
    background: #ffaaaa !important;
    border-radius: 4px;
    padding-left: 8px !important;
}

/* Tab Bar */
.tab_body, #tab_body {
    /*border-left: solid 1px #bfbfbf;*/
    /*border-top: solid 1px #bfbfbf;*/
    /*border-right: solid 2px #6c6c6c;*/
    /*border-bottom: solid 2px #6c6c6c;*/
    position: relative;
    top: -1px;
    z-index: 100;
    margin-bottom: 1em;
    padding: 12px;
    background-color: var(--area-background);
    border-style: none;
    border-radius: 0 0 6px 6px;
}

.tab_bar_container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.tab_bar_buttons_scroll_container {
    overflow-x: hidden;
    flex-grow: 1;
}

.tab_bar_buttons {
    display: inline-block;
    box-sizing: border-box;
    width: 154px;
    height: 34px;
    color: var(--color);
    text-align: center;
    /*border-left: solid 1px #bfbfbf;*/
    /*border-top: solid 1px #bfbfbf;*/
    /*border-right: solid 2px #6c6c6c;*/
    /*border-bottom: none;*/
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--past-background);
    cursor: pointer;
    position: relative;
    z-index: 101;
    line-height: 25px;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.tab_bar_buttons_active {
    background-color: var(--area-background);
    color: var(--emphasis-color);
}

.tab_bar_buttons:hover, .tab_bar_buttons:focus-visible {
    background-color: var(--highlight-background);
    color: var(--emphasis-color);
}
.tab_bar_buttons:focus {
    outline: 0;
}
.tab_bar_scroll {
    /*position: relative;*/
    /*top: 0;*/
    z-index: 200;
    width: 24px;
    padding: 3px !important;
}
.tab_bar_buttons_scroll {
    height: 34px;
    width: max-content;
    display: inline-block;
    position: relative;
}

.tab_bar_buttons h3 {
    margin: 0;
    padding-top: 4px;
}

.tab_bar_buttons_disabled {
    color: grey !important;
}


/* JQ Modal Styles */
#jqConfDialog {
    width: 100%;
    max-width: 380px;
    text-align: center;
}

#jqAlertDialog {
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.jqPopupHeader {
    background-color: lightgray;
    border-bottom: solid 1px grey;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.jqPopupBody {
    padding: 12px;
    background-color: var(--popup-background);
}
.jqPopupContent {
    padding-bottom: 12px;
    border-bottom: 1px solid grey;
    font-size: large;
}
.jqPopupFooter {
    padding-top: 12px;
    text-align: center;
}

#jqSettingsDialog {
    /*min-width: 400px;*/
    text-align: left;
    padding: 0;
    z-index: 3000;
    opacity: 1;
}

#jqSettingsHeader {
    background-color: lightgrey;
    border-bottom: solid 1px grey;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

#settingsContent {
    margin-bottom: 8px;
    font-size: 14px;
    padding: 0 15%;
}

#jqSettingsBody {
    padding: 12px;
    background-color: var(--background-color);
}

#dragColumnNames {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    max-height: 300px;
}

.dragColumn:hover {
    background-color: #a5d7ff;
}

/* jqModalDivs */
#jqConfDialog, #jqAlertDialog {
    background-color: var(--popup-background);
    color: var(--emphasis-color);
}

#jqConfDialog {
    z-index: 3008;
}
#jqConfDialog .jqPopupHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.jqPopupHeader {
    background-color: var(--background-color);
    color: var(--emphasis-color);
    border-bottom: solid 1px grey;
}
.jqPopupHeader i {
    font-size: 40px;
}
.jqPopupHeader #confirmText1 {
    flex-grow: 1;
    text-transform: capitalize;
}
.jqPopupFooter input[type=button] {
    width: 100px;
}
.jqPopupFooter #doConfirmAction {
    margin-right: 2em;
}
#jqAlertDialog {
    z-index: 3010;
}
#jqAlertDialog .jqPopupHeader {
    text-align: center;
}

.jqmWindow {
    background-color: var(--popup-background) !important;
    border: 1px solid #3b3b3b !important;
    color: var(--emphasis-color) !important;
}

.jqPopupBody {
    padding: 12px;
    background-color: var(--popup-background);
    color: var(--emphasis-color);
}
.jqPopupContent {
    border-bottom: 1px solid var(--header-background);
}

#jqSettingsHeader {
    background-color: var(--background-color);
    color: var(--emphasis-color);
    border-bottom: solid 1px grey;
}

#jqSettingsBody {
    background-color: var(--popup-background);
    color: var(--emphasis-color);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color: #dfe0e4;
        --emphasis-color: #f0f0f0;
    
        --background-color: #222f3e;
        --area-background: #2f3742;
        --header-background: #16222e;
        --popup-background: #4a5562;
        --highlight-background: #8f5648;
        --selected-background: #824c41;
        --gradient-right: #212730;
        --scrollbar-background: #222f3e;
        
        --past-background: #2f3742;
        --good-color: green;
        --bad-color: red;
        --pending-color: orange;
    }

    .report_cell {
        border-style: none;
    }
}
